.features {
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    position: relative;
}

.lear {
    
    inset: 0; /* تغطي كل السيكشن */
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
}